---
import Layout from '../layouts/Layout.astro';
import InitialState from '../InitialState';
import Card from '../components/Card.astro';
import Cards from '../components/Cards.astro';
import WaveHeader from '../components/icons/WaveHeader.astro';
---

<Layout title='Mis proyectos'>
    <div>
		<h2 class="home__h2" >
			TODOS MIS PROYECTOS
		</h2>
		<WaveHeader/>
	</div>
	<Cards>
		{InitialState.allProjects.map(item => (
			<Card
				image={item.image} 
				source={item.source}
				title={item.title}
				description={item.description}
			/>
		))}
	</Cards>
</Layout>

<style>
	.home__h2 {
		width: 100%;
		padding-bottom: 24px;
		text-align: center;
		font-family: var(--font-text);
		font-size: 28px;
		font-weight: 600;
		color: var(--color-third);
	}
</style>