---

---

<div class='Cards'>
    <div class="Cards__container" >
        <slot/>
    </div>
</div>

<style>
    .Cards {
        padding: 0.5rem;
        overflow: hidden;
        box-sizing: border-box;
    }
    .Cards__container {
        padding-top: 3rem;
        padding-bottom: 6rem;
        margin: auto;
        width: 100%;
        max-width: 1024px;
        box-sizing: border-box;
        background: var(--color-primary);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
</style>