---
import SvgAstro from "./icons/SvgAstro.astro";
import SvgCss from "./icons/SvgCss.astro";
import SvgGit from "./icons/SvgGit.astro";
import SvgHtml from "./icons/SvgHtml.astro";
import SvgJava from "./icons/SvgJava.astro";
import SvgJavaSpring from "./icons/SvgJavaSpring.astro";
import SvgJavascript from "./icons/SvgJavascript.astro";
import SvgPosgre from './icons/SvgPostgre.astro';
import SvgNode from "./icons/SvgNode.astro";
import SvgExpress from "./icons/SvgExpress.astro";
import SvgReact from "./icons/SvgReact.astro";
import SvgRedux from "./icons/SvgRedux.astro";
---

<div class="icon">
    <h2 class="icon__h2">PRINCIPALES TECNOLOGIAS</h2>
    <div class="icons__container" >
        <div class="icons">
            <SvgHtml />
            <p>HTML</p>
        </div>
        <div class="icons">
            <SvgCss />
            <p>CSS</p>
        </div>
        <div class="icons">
            <SvgJavascript />
            <p>JAVASCRIPT</p>
        </div>
        <div class="icons">
            <SvgReact />
            <p>REACT</p>
        </div>
        <div class="icons">
            <SvgRedux />
            <p>REDUX</p>
        </div>
        <div class="icons">
            <SvgAstro />
            <p>ASTRO</p>
        </div>
        <div class="icons">
            <SvgNode />
            <p>NODE</p>
        </div>
        <div class="icons">
            <SvgExpress />
            <p>EXPRESS</p>
        </div>
        <div class="icons">
            <SvgGit />
            <p>GIT</p>
        </div>
        <div class="icons">
            <SvgJava />
            <p>JAVA</p>
        </div>
        <div class="icons">
            <SvgJavaSpring />
            <p>SPRINGBOOT</p>
        </div>
        <div class="icons">
            <SvgPosgre/>
            <p>POSTGRESQL</p>
        </div>
    </div>
</div>

<style>
    .icon {
        background: var(--color-primary);
        overflow: hidden;
        box-sizing: border-box;
        padding: 120px 6px;
    }
    .icon__h2 {
        margin: 0%;
        width: 100%;
        text-align: center;
        font-family: var(--font-text);
        font-size: 28px;
        font-weight: 600;
        color: var(--color-third);
    }
    .icons__container {
        margin: auto;
        padding: 48px 0px;
        width: 100%;
        max-width: 1024px;
        display: grid;
        grid-template-columns: repeat(6, 100px);
        grid-column: 160px;
        justify-content: space-around;
    }
    .icons {
        min-width: 100px;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .icons > p {
        padding-top: 6px;
        width: 100%;
        font-family: var(--font-text);
    }

    @media only screen and (max-width: 640px) {
        .icons__container {
            grid-template-columns: repeat(3, 100px);
        }
    }
</style>