---
import SvgCss from "./icons/SvgCss.astro";
import SvgGit from "./icons/SvgGit.astro";
import SvgHtml from "./icons/SvgHtml.astro";
import SvgJavascript from "./icons/SvgJavascript.astro";
import SvgNode from "./icons/SvgNode.astro";
import SvgReact from "./icons/SvgReact.astro";
---

<div class="icon">
    <h2 class="icon__h2">PRINCIPALES TECNOLOGIAS</h2>
    <div class="icons__container" >
        <div class="icons">
            <SvgHtml fontSize={72} color="#313434" />
            <p>HTML</p>
        </div>
        <div class="icons">
            <SvgCss fontSize={72} color="#313434" />
            <p>CSS</p>
        </div>
        <div class="icons">
            <SvgJavascript fontSize={72} color="#313434" />
            <p>JAVASCRIPT</p>
        </div>
        <div class="icons">
            <SvgReact fontSize={72} color="#313434" />
            <p>REACT</p>
        </div>
        <div class="icons">
            <SvgNode fontSize={72} color="#313434" />
            <p>NODE</p>
        </div>
        <div class="icons">
            <SvgGit fontSize={72} color="#313434" />
            <p>GIT</p>
        </div>
    </div>
</div>

<style>
    .icon {
        background: var(--color-primary);
        overflow: hidden;
        box-sizing: border-box;
        padding: 120px 6px;
    }
    .icon__h2 {
        margin: 0%;
        width: 100%;
        text-align: center;
        font-family: var(--font-text);
        font-size: 28px;
        font-weight: 600;
        color: var(--color-third);
    }
    .icons__container {
        margin: auto;
        padding: 48px 0px;
        width: 100%;
        max-width: 1024px;
        display: grid;
        grid-template-columns: repeat(6, 100px);
        grid-column: 160px;
        justify-content: space-around;
    }
    .icons {
        min-width: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .icons > p {
        padding-top: 6px;
        width: 100%;
        font-family: var(--font-text);
    }

    @media only screen and (max-width: 640px) {
        .icons__container {
            grid-template-columns: repeat(3, 100px);
        }
    }
</style>